*{
    margin:0;
    padding:0;       
}

.imgHabitacion{
    height: 400px;
    width: auto;
    border-radius: 3%;
}

.margen{
    margin-top: 50px;        
}

.centrar{
    text-align: center;
}

.cursiva{
    font-style: italic;
}

.negrita{
    font-weight: bold;
}

.redondeado{
    border-radius: 50%;
}

details summary{
    margin-top: 15px;
}

details p{
    margin-top: 15px;
    font-size: medium;
    color: solid grey;
}

form{
    margin-top: 40px;
    margin-bottom: 100px;

}

.slider{
    
    width: 50%;
    margin: auto;
    height: auto;
    overflow: hidden;
   
}

.slider ul{
    padding: 0;
    display: flex;
    width: 300%;

    animation: slider 9s infinite alternate;
    animation-timing-function: linear;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider li img{
    width: 100%;
    
}

@keyframes slider{
    0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	33.3% {margin-left: -100%;}
	63.3% {margin-left: -100%;}
	
	66.6% {margin-left: -200%;}
	96.6% {margin-left: -200%;}
	
}